<h2>Testing Base connection.</h2>
<h3>This is taking info from the index.erb file</h3>

<form method="post" action="/results">
	<p>Enter the GIPHY search term here: <input type="text" name="giphy"></p>
	<input type="submit">
</form>